{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  
  <title>Gaeun's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static '/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany - v3.0.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light"><span>Gaeun's Portfolio</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#testimonials">Education</a></li>
            <li><a href="#portfolio">project</a></li>
            <li><a href="#contact">Contact</a></li>

            <!-- <li class="get-started"><a href="#about">Get Started</a></li> -->
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="100">
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row content">
          <div class="col-lg-8" data-aos="fade-right" data-aos-delay="100">
            <h2>About Me</h2>
            <section class="testimonial-item"> 
              <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="{% static '/img/team/team-1.jpg'%}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h3>Gaeun Jung</h3>
                    <span>Software Engineer</span>
                    <p>San Jose, CA</p>
  
                    <div class="social">
                      <a href="https://github.com/jj904"> Github <i class="ri-github-fill"></i></a>
                      <a href="https://www.linkedin.com/in/gaeun-jung-00632217a/"> LinkedIn <i class="ri-linkedin-box-fill"></i> </a>
                      <br />
                      <br />
                    </div> 
                    <div data-aos="fade-left" data-aos-delay="200">
                      <!-- <div class="testimonial-item">   -->
                        <p>
                          Hi, I have a constant passion and curiosity for software development. Through the major in software engineering, learned the skills and concepts needed in software engineering. 
                          <br/>
                          <br/>
                          Through the experience of carrying out projects using programming and frameworks learned through various programming courses, I learned to utilize interpersonal skills and problem-solving skills.
                          <br/>
                          <br/>
                        </p>
                      <!-- </div> -->
                    </div>
                    
                  </div>
                </div>
              </div> 
            </div>
          </div>
      </div>
    </section>
    </section><!-- End About Section -->

              <!-- <div class="testimonial-item"> 
                    <p>
                      Hi, I have a constant passion and curiosity for software development. Through the major in software engineering, learned the skills and concepts needed in software engineering. 
                      <br/>
                      <br/>
                      Through the experience of carrying out projects using programming and frameworks learned through various programming courses, I learned to utilize interpersonal skills and problem-solving skills.
                    </p>
                  </div> -->


    <!-- ======= Education Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title" data-aos="fade-left">
          <h2>Education Background</h2>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <div class="testimonial-item">
                <img src="{% static '/img/logo.jpg'%}" class="testimonial-img" alt="">

                <h3>San José State University</h3> <br>
                <p>B.S Software Engineering<br>Graducation: May, 2023</p>
              </div>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-slide">
                <div class="testimonial-item">
                    <h4>Courses Info</h4>         
                      <ul id="courses">
                        <br />
                            <p>Intro Database Management(MySQL)</p>
                            <p>Data Structures and Algorithms(Java)</p>
                            <p>Object-Oriented Design(Java)</p>
                            <p>Intro Database Management(MySQL)</p>
                            <p>Operating System(C)</p>
                            <p>Computer Organization and Architecture(C)</p>
                            <p>Server-Side Web Programming(PHP, MySQL)</p>
                            <p>Introduction to Artificial Intelligence(Python)</p>
                            <p>Software Quality Engineering(Java)</p>
                            <p>Enterprise Software Platforms(Java, SQL, JDBC, HTTP, Docker, Spring boot)</p>
                            <br /> <br />
                      </ul>      
                  </div> 
                </div>
              </div>
              <!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      </div>
    </section><!-- End Education Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>Project & Awards </h2>
          <p>Projects and Extra-curricular activities</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Project</li>
              <li data-filter=".filter-card">Awards</li>
              <li data-filter=".filter-web">Activities</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/portfolio-1.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>4 PET</h4>
                <p>Senior Project</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/portfolio-1.jpg'%}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'detail1' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/portfolio-2.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Spliity</h4>
                <p>Desktop Based App(Java)</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/portfolio-2.jpg'%}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'detail2' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/portfolio-3.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Simple Project</h4>
                <p>Multiple simple Projects</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/portfolio-3.jpg'%}" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'detail3' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/portfolio-4.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Hackerton</h4>
                <p>by Hyundai Cradle</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/portfolio-4.jpg'%}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'detail4' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static '/img/portfolio/portfolio-5.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>LIKELION</h4>
                <p>Coding Club</p>
                <div class="portfolio-links">
                  <a href="{% static '/img/portfolio/portfolio-5.jpg'%}" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                  <a href="{% url 'detail5' %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
              <!-- <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="{% static '/img/team/team-1.jpg'%}" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Walter White</h4>
                    <span>Chief Executive Officer</span>
                    <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div> -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="sec tion-title">
              <h2>Contact Me</h2>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>jgaeun904@gmail.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="icofont-phone"></i>
                  <h4>Contact:</h4>
                  <p>+1 408-690-5518</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Bethany</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static '/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static '/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static '/vendor/counterup/counterup.min.js'%}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static '/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{% static '/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static '/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js'%}"></script>

</body>

</html>